@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.conversejs {
    @import 'bootstrap/scss/dropdown';
    converse-dropdown {
        .dropdown-menu {
            left: -100% !important;
            right: auto !important;
            box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2) !important;
            border: none !important;
        }
        &.dropup {
            &.dropup--left {
                .dropdown-menu {
                    left: 100%;
                    right: auto;
                }
            }
        }

        .btn--standalone {
            padding: 0 0.2em;
            margin: 0;
        }

        .dropdown-menu {
            background: var(--background);
            margin-top: -0.2em !important;
            box-shadow: var(--raised-el-shadow);
        }

        .dropdown-item {
            line-height: 1em;
            color: var(--text-color);
            padding: 0.5rem 1rem;
            converse-icon {
                margin-top: -0.1em;
                width: 1.25em;
                margin-right: 0;
            }
            &:active,
            &.selected {
                color: white !important;
                background-color: var(--list-item-open-color);
                .fa {
                    color: white !important;
                }
            }
            &:hover {
                color: var(--text-color);
                background-color: var(--list-item-hover-color);
            }
        }
    }
}
